*{
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

nav{
  background-color: #88ad35;
}

nav .navbar-brand{
  font-size: 22px;
}

.no-focus-outline {
    outline: none !important; 
}

.no-focus-outline:focus {
    outline: none !important;
    box-shadow: none !important; 
}

#productContainer{
  margin-top: 30px;
  margin-bottom: 110px;
}

.card {
  width: 18rem;
  border: none;
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  transition: all 0.3s ease-in-out;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 15px rgba(0,0,0,0.15);
}

.card img {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  height: 200px;
  object-fit: cover;
}

.btn{
  background-color: #88ad35;
  color: white;
}

.btn:hover{
  background-color: #77992e;
  color: white;
}

.card-title{
  color: #77992e;
  font-size: 25px;
}

.des{
  color: #5f5f5e;
}

footer {
  font-size: 0.9rem;
  background-color: #ecf4d3;
  position: fixed;
  bottom: 0;
  right: 0;
  width: 100vw;
}
